 <!-- Main Content -->
 <div class="w-3/4 p-6 bg-[#FFF8EC]">

    <header class="mb-8">
        <h1 class="text-3xl font-semibold text-black">Chính sách bảo mật</h1>
    </header>

    <!-- Giới thiệu chung -->
    <section id="intro" class="text-sm text-[#333] mb-8">
        <p class="mb-4"><span class="font-bold text-[#FF9413]">WinSnack</span> cam kết bảo vệ thông tin cá nhân của khách hàng. Thông tin được thu thập chỉ nhằm phục vụ việc xử lý đơn hàng, cung cấp thông tin khuyến mãi và nâng cao trải nghiệm mua sắm.</p>
        <p class="mb-4">Chúng tôi đảm bảo thông tin cá nhân sẽ không được chia sẻ bên thứ ba, ngoại trừ các đối tác vận chuyển (Giao hàng Nhanh, Giao hàng Tiết Kiệm, Viettel Post) hoặc khi có yêu cầu từ cơ quan pháp luật.</p>
        <p class="mb-4">Hệ thống của chúng tôi áp dụng các biện pháp bảo mật nghiêm ngặt để bảo vệ dữ liệu khỏi truy cập trái phép. Khách hàng có quyền kiểm tra, chỉnh sửa hoặc yêu cầu xóa thông tin cá nhân bất cứ lúc nào bằng cách liên hệ qua email winsnackgmail.com hoặc hotline 1233-7777.</p>
        <p class="mb-4">Cảm ơn quý khách đã tin tưởng và đồng hành cùng <span class="font-bold text-[#FF9413]">WinSnack</span>!</p>
    </section>

    <!-- Hình ảnh minh họa -->
    <section id="image" class="mb-8">
        <img src="assets/images/terms-and-policies/Banner.png" alt="Chính sách bảo mật" class="w-[930px] h-[513px] rounded-[10px]">
    </section>
</div>

