<!-- Header Section -->
<div class="flex flex-wrap md:flex-nowrap items-center justify-between z-10 py-4 px-4 md:px-8 lg:px-32 bg-[#FFF8EC]">
  <!-- Logo and Company Name -->
  <div class="flex items-center flex-shrink-0">
    <img
      loading="lazy"
      src="assets/images/header/logo.png"
      alt="Company Logo"
      class="object-contain w-12 md:w-[45px]"
    />
    <div class="ml-1">
      <img
        loading="lazy"
        src="assets/images/header/company-name.png"
        alt="Company Name"
        class="object-contain w-24 md:w-[145px]"
      />
    </div>
  </div>

  <!-- Search Bar -->
  <div class="flex items-center flex-grow max-w-full text-sm mx-4">
    <!-- Container chứa phần dropdown & tìm kiếm -->
    <div class="relative flex-grow">
      <div class="flex items-center bg-[#F3F3F3] rounded-sm px-3 py-2">
        <!-- Dropdown "Tất cả sản phẩm": chuyển sang click -->
        <div class="relative inline-flex whitespace-nowrap" (click)="toggleShowAllProducts()">
          <div class="flex items-center font-semibold text-[#253D4E] cursor-pointer text-1x1">
            <span>Tất cả sản phẩm</span>
            <img
              loading="lazy"
              src="assets/images/header/dropdown.png"
              alt=""
              class="w-5 h-4 ml-1"
            />
          </div>
          <!-- Dropdown Content: căn lề trái ngay dưới container -->
          <div *ngIf="showAllProducts" class="absolute left-0 top-full mt-1 w-40 bg-white shadow-lg rounded-md z-10">
            <a routerLink="/product-category/banh-trang-tron-san" class="block px-3 py-2 text-sm text-[#253D4E] hover:bg-[#FFF8EC]">
              Bánh tráng trộn sẵn
            </a>
            <a routerLink="/product-category/banh-trang-nuong" class="block px-3 py-2 text-sm text-[#253D4E] hover:bg-[#FFF8EC]">
              Bánh tráng nướng
            </a>
            <a routerLink="/product-category/banh-trang-ngot" class="block px-3 py-2 text-sm text-[#253D4E] hover:bg-[#FFF8EC]">
              Bánh tráng ngọt
            </a>
            <a routerLink="/product-category/combo-mix-vi" class="block px-3 py-2 text-sm text-[#253D4E] hover:bg-[#FFF8EC]">
              Combo mix vị
            </a>
            <a routerLink="/product-category/nguyen-lieu-le" class="block px-3 py-2 text-sm text-[#253D4E] hover:bg-[#FFF8EC]">
              Nguyên liệu lẻ
            </a>
          </div>
        </div>
        <!-- Divider -->
        <div class="flex items-center ml-6">
          <img
            loading="lazy"
            src="assets/images/header/divider.png"
            alt=""
            class="w-px h-6"
          />
        </div>
        <!-- Phần text "Tìm kiếm" -->
        <div class="w-full ml-2 font-medium text-[#A0A0A0]">
          <input type="text" placeholder="Tìm kiếm đee" class="w-full max-w-3xl px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#FF9413] focus:border-[#FF9413] transition-all duration-300">
        </div>
      </div>
    </div>
    <!-- Nút Search -->
    <div>
      <div class="flex items-center bg-[#FF9413] rounded-sm p-2 cursor-pointer shadow-md transition-all duration-300 ease-in-out hover:scale-110 hover:shadow-xl">
        <img
          loading="lazy"
          src="assets/images/header/search.png"
          alt="Search"
          class="w-6 h-6"
        />
      </div>
    </div>
  </div>

  <!-- Favorites and Cart -->
  <div class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-4">
    <div class="relative flex items-center gap-2 cursor-pointer">
      <div class="relative">
        <img
          loading="lazy"
          src="assets/images/header/favorites.png"
          alt="Favorites"
          class="w-5 h-auto"
        />
        <i class="fa fa-heart text-3xl text-[#253D4E]"></i>
        <span *ngIf="header.favorites.number > 0" 
              class="absolute -top-2 -right-2 bg-orange-500 text-white text-xs font-bold w-4 h-4 hover:w-6 hover:h-6 flex items-center justify-center rounded-full">
          {{ header.favorites.number }}
        </span>
      </div>
      
      <div class="whitespace-nowrap ml-1">
        <div class="text-[#253D4E] text-xs">Yêu thích</div>
        <div class="text-[#FF9413] text-xs">{{ header.price | number }}đ</div>
      </div>
    </div>
    
    <div class="relative flex items-center gap-2 cursor-pointer">
      <div class="relative">
        <img
        loading="lazy"
        src="assets/images/header/cart.png"
        alt="Cart"
        class="w-5 h-auto"
        />
        <i class="fa fa-shopping-cart text-3xl text-[#253D4E]"></i>
        <span *ngIf="header.cart.number > 0" 
              class="absolute -top-2 -right-2 bg-orange-500 text-white text-xs font-bold w-4 h-4 hover:w-6 hover:h-6 flex items-center justify-center rounded-full">
          {{ header.cart.number }}
        </span>
      </div>      
      <div class="whitespace-nowrap ml-1">
        <div class="text-[#253D4E] text-xs">Giỏ hàng</div>
        <div class="text-[#FF9413] text-xs">25.000đ</div>
      </div>
    </div>
  </div>

  <!-- Register and Login Buttons -->
  <div class="whitespace-nowrap flex space-x-4 mt-4 ml-4 md:mt-0">
    <button class="border-2 border-[#FF9413] text-[#FF9413] rounded-lg px-2 py-2 text-sm font-semibold hover:bg-[#FF9413] hover:text-white transition-transform duration-300 ease-in-out hover:scale-105 hover:rotate-1">
      Đăng ký
    </button>
    <button class="border-2 border-[#FF9413] text-[#FF9413] rounded-lg px-2 py-2 text-sm font-semibold transition-all duration-300 ease-in-out hover:bg-[#FF9413] hover:text-white hover:scale-105 hover:rotate-1">
      Đăng nhập
    </button>
  </div>
</div>

<!-- Navigation Section -->
<div class="flex flex-wrap md:flex-nowrap items-center justify-between py-2 px-4 md:px-8 lg:px-32 bg-[#FFF8EC] font-medium">
  <!-- "Tất cả sản phẩm" button (Navigation) -->
  <div class="flex items-center bg-[#FF9413] text-white rounded-sm px-3 py-2 cursor-pointer transition-all duration-300 ease-in-out hover:scale-105 hover:bg-gradient-to-b hover:from-[#FF9413] hover:to-[#FFF8EC] hover:-translate-y-1">
    <a routerLink="/product-category" class="flex items-center w-full">
      <img src="assets/images/header/all-products.png" class="w-6 h-6" alt="All Products" />
      <span class="ml-3">Tất cả sản phẩm</span>
      <i class="fa fa-angle-down ml-2"></i>
    </a>
  </div>

  <!-- Navigation Links -->
  <div class="flex flex-wrap md:flex-nowrap items-center space-x-4 text-[#253D4E]">
    <a routerLink="/home" class="flex items-center text-[#FF9413] hover:underline">
      <img loading="lazy" src="assets/images/header/home.png" class="w-5 h-5" alt="Home" />
      <span class="ml-1">Trang chủ</span>
    </a>
    <!-- Về chúng tôi Dropdown -->
    <div class="relative group" (mouseenter)="showAbout = true" (mouseleave)="showAbout = false">
      <div class="flex items-center gap-1.5 p-2.5 cursor-pointer">
        <img src="assets/images/header/about.png" class="w-5 h-5" alt="About Icon" />
        <span class="text-sm md:text-base">Về chúng tôi</span>
        <i class="fa fa-angle-down ml-1"></i>
      </div>

      <!-- Dropdown Content -->
      <div *ngIf="showAbout" class="absolute left-0 top-full mt-1 w-40 md:w-48 bg-white shadow-lg rounded-md z-50">
        <div class="py-1">
          <a routerLink="/about" class="block px-4 py-2 text-sm text-[#253D4E] hover:bg-[#FFF8EC]">
            Giới thiệu
          </a>
          <a routerLink="/terms-and-policies" class="block px-4 py-2 text-sm text-[#253D4E] hover:bg-[#FFF8EC]">
            Chính sách & Điều khoản
          </a>
        </div>
      </div>
    </div>

    <a routerLink="/minigame" class="flex items-center hover:underline">
      <img loading="lazy" src="assets/images/header/event.png" class="w-5 h-5" alt="Events" />
      <span class="ml-1">Sự kiện</span>
    </a>
    <a routerLink="/blog" class="ml-3 flex items-center hover:underline">
      <img loading="lazy" src="assets/images/header/blog.png" class="w-5 h-5" alt="Blog" />
      <span class="ml-1">Blog</span>
    </a>
    <a routerLink="/contact" class="flex items-center hover:underline">
      <img loading="lazy" src="assets/images/header/contact.png" class="w-5 h-5" alt="Contact" />
      <span class="ml-1">Liên hệ</span>
    </a>
  </div>

  <!-- Call to Action -->
  <div class="flex items-center space-x-2 mt-2 md:mt-0">
    <img loading="lazy" src="assets/images/header/call.png" class="w-5 h-5" alt="Call Icon" />
    <div class="text-lg text-[#FF9413]">1233-7777</div>
    <div class="text-sm text-[#253D4E]">ĐẶT HÀNG NGAY</div>
  </div>
</div>
