<div class="bg-[#FFE0C2] mb-5">
    <h2 class="bg-[#FFE0C2] text-[#ff6b00] text-center py-[15px] m-0 font-bold">LỊCH SỬ MUA HÀNG</h2>
    <div class="flex flex-row items-center justify-between py-[15px] px-[30px] text-left bg-[#FFE0C2] rounded-bl-lg rounded-br-lg relative">
        <p class="m-0 pb-[15px] border-b border-[#afa9a9] w-max">Bạn chưa mua đơn hàng nào</p>
        <button class="bg-[#ff6b00] text-white border-2 border-[#ff6b00] py-2 px-[15px] rounded cursor-pointer mt-[15px] flex items-center transition-all duration-300 hover:bg-white hover:text-[#ff6b00] hover:border-[#ff6b00] after:content-[''] after:inline-block after:w-5 after:h-5 after:ml-[5px] after:bg-[url('/front-end/src/assets/images/account/cart-icon.png')] after:bg-contain after:bg-no-repeat">Mua ngay</button>
    </div>
</div>
<app-order-history></app-order-history>