<link rel="stylesheet" href="product-category.component.css">

<div class="container">
    <!-- Header -->
    <h1 class="header">Tất cả sản phẩm</h1>

    <div class="main-content">
        <!-- Sidebar (Bộ lọc) -->
        <aside class="sidebar">
            <h2 class="hd">Tất cả sản phẩm</h2>
            <hr />
            <ul>
                <li class="item">Bánh tráng trộn sẵn</li>
                <li class="item">Bánh tráng nướng</li>
                <li class="item">Bánh tráng ngọt</li>
                <li class="item">Combo bánh tráng mix vị</li>
                <li class="item">Nguyên liệu ăn vặt</li>
                <li class="item">
                    <img src="/front-end/src/assets/images/product-category/Tag.png" alt="Khuyến Mãi" class="item-image">
                    <span class="promo">KHUYẾN MÃI</span>
                </li>
                <li class="item">
                    <img src="/front-end/src/assets/images/product-category/Star.png" alt="Mới xuất hiện" class="item-image">
                    <span class="new">MỚI XUẤT HIỆN</span>
                </li>
            </ul>
  
            <h2 style="color: #FF9413; font-size: 18px; text-transform: uppercase;">Bộ lọc giá</h2>
            <div class="filter-price">
                <!-- Thanh trượt giá -->
                <input type="range" min="0" max="250000" [(ngModel)]="minPrice" (input)="onPriceChange()" class="slider" #priceSlider />
        
                <!-- Ô nhập liệu cho giá min và max -->
                <div class="price-values">
                    <input type="number" id="minPrice" [(ngModel)]="minPrice" (input)="onPriceChange()" />
                    <span>-</span>
                    <input type="number" id="maxPrice" [(ngModel)]="maxPrice" (input)="onPriceChange()" />
                </div>
        
                <!-- Nhãn hiển thị giá -->
                <div class="price-label">{{ minPrice }} - {{ maxPrice }}</div>
            </div>
        
            <button class="btn-reset" (click)="resetFilter()">Xóa lọc</button>
        </aside>
  
        <!-- Danh sách sản phẩm -->
        <section class="products">
            <div class="banner-bottom">
                <img src="/front-end/src/assets/images/product-category/Banner.png" alt="Banner" class="banner-img" />
            </div>

            <!-- Hàng sản phẩm đầu tiên -->
            <div class="products-grid">
                <div class="product-card">
                    <div class="discount-badge">30%</div>
                    <img src="/front-end/src/assets/images/product-category/Chabong.png" alt="Bánh tráng chà bông">
                    <p style="font-size: 15px; color: #686766;">⭐ 5.0 | +100 đánh giá</p>
                    <h3>Bánh tráng chà bông</h3>
                    <p style="font-size: 12px; color: #898989;">Bánh tráng phơi sương, xoài sấy, gia vị...</p>
                    <div class="price">
                        <span class="old-price">30.000Đ</span>
                        <span class="new-price">25.000Đ</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="discount-badge">30%</div>
                    <img src="/front-end/src/assets/images/product-category/Rongbien.png" alt="Bánh tráng rong biển">
                    <p style="font-size: 15px; color: #686766;">⭐ 5.0 | +100 đánh giá</p>
                    <h3>Bánh tráng rong biển</h3>
                    <p style="font-size: 12px; color: #898989;">Bánh tráng phơi sương, xoài sấy, gia vị...</p>
                    <div class="price">
                        <span class="old-price">30.000Đ</span>
                        <span class="new-price">25.000Đ</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="discount-badge">30%</div>
                    <img src="/front-end/src/assets/images/product-category/Bo.png" alt="Bánh tráng sốt bơ">
                    <p style="font-size: 15px; color: #686766;">⭐ 5.0 | +100 đánh giá</p>
                    <h3>Bánh tráng sốt bơ</h3>
                    <p style="font-size: 12px; color: #898989;">Bánh tráng phơi sương, xoài sấy, gia vị...</p>
                    <div class="price">
                        <span class="old-price">30.000Đ</span>
                        <span class="new-price">25.000Đ</span>
                    </div>
                </div>
            </div>

            <!-- Hàng sản phẩm thứ hai -->
            <div class="products-grid">
                <div class="product-card">
                    <div class="discount-badge">30%</div>
                    <img src="/front-end/src/assets/images/product-category/Ga.png" alt="Bánh tráng nướng gà cay">
                    <p style="font-size: 15px; color: #686766;">⭐ 4.9 | +10 đánh giá</p>
                    <h3>Bánh tráng nướng gà cay</h3>
                    <p style="font-size: 12px; color: #898989;">Bánh tráng phơi sương, xoài sấy, gia vị...</p>
                    <div class="price">
                        <span class="old-price">70.000Đ</span>
                        <span class="new-price">40.000Đ</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="discount-badge">30%</div>
                    <img src="/front-end/src/assets/images/product-category/Xoai.png" alt="Xoài chín sấy khô">
                    <p style="font-size: 15px; color: #686766;">⭐ 4.9 | +10 đánh giá</p>
                    <h3>Xoài chín sấy khô</h3>
                    <p style="font-size: 12px; color: #898989;">Bánh tráng phơi sương, xoài sấy, gia vị...</p>
                    <div class="price">
                        <span class="old-price">90.000Đ</span>
                        <span class="new-price">65.000Đ</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="discount-badge">30%</div>
                    <img src="/front-end/src/assets/images/product-category/Saurieng.png" alt="Bánh tráng nướng sầu riêng phô mai">
                    <p style="font-size: 15px; color: #686766;">⭐ 4.9 | +45 đánh giá</p>
                    <h3>Bánh tráng nướng sầu riêng phô mai</h3>
                    <p style="font-size: 12px; color: #898989;">Bánh tráng phơi sương, xoài sấy, gia vị...</p>
                    <div class="price">
                        <span class="new-price">55.000Đ</span>
                    </div>
                </div>
            </div>

            <!-- Hàng sản phẩm thứ ba -->
            <div class="products-grid">
                <div class="product-card">
                    <div class="discount-badge">30%</div>
                    <img src="/front-end/src/assets/images/product-category/Gaoluc.png" alt="Bánh tráng gạo lức">
                    <p style="font-size: 15px; color: #686766;">⭐ 4.8 | +20 đánh giá</p>
                    <h3>Bánh tráng gạo lức</h3>
                    <p style="font-size: 12px; color: #898989;">Bánh tráng phơi sương, xoài sấy, gia vị...</p>
                    <div class="price">
                        <span class="old-price">110.000Đ</span>
                        <span class="new-price">75.000Đ</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="discount-badge">30%</div>
                    <img src="/front-end/src/assets/images/product-category/Phoisuong.png" alt="Bánh tráng phơi sương">
                    <p style="font-size: 15px; color: #686766;">⭐ 4.9 | +100 đánh giá</p>
                    <h3>Bánh tráng phơi sương</h3>
                    <p style="font-size: 12px; color: #898989;">Bánh tráng phơi sương, xoài sấy, gia vị...</p>
                    <div class="price">
                        <span class="old-price">75.000Đ</span>
                        <span class="new-price">50.000Đ</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="discount-badge">30%</div>
                    <img src="/front-end/src/assets/images/product-category/Chanhday.png" alt="Trà xanh chanh dây">
                    <p style="font-size: 15px; color: #686766;">⭐ 4.8 | +30 đánh giá</p>
                    <h3>Trà xanh chanh dây</h3>
                    <p style="font-size: 12px; color: #898989;">Bánh tráng phơi sương, xoài sấy, gia vị...</p>
                    <div class="price">
                        <span class="new-price">95.000Đ</span>
                    </div>
                </div>
            </div>
            
            <!-- Phân trang -->
            <hr style="border: 1px solid #F7941D;">

            <div class="pagination">
                <button>1</button>
                <button>2</button>
                <button>3</button>
            </div>
            <hr style="border: 1px solid #F7941D;">

        </section>
    </div>
</div>
