<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Win Snack</title>
        
        <!-- Reset CSS -->
        <link rel="stylesheet" href="/front-end/src/reset.css" />

        <!-- Embed fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- Styles -->
        <link rel="stylesheet" href="./checkout.component.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body>
    <div
      class="flex overflow-hidden flex-col px-24 py-12 bg-orange-50 max-md:px-5"
      role="main"
    >
      <h1
        class="px-16 max-w-full text-6xl font-bold text-amber-500 w-[1230px] max-md:px-5 max-md:max-w-full max-md:text-4xl"
      >
        THANH TOÁN
      </h1>
      <div
        class="flex flex-col px-11 py-5 mt-8 w-full text-2xl text-black bg-amber-100 bg-opacity-80 max-w-[1230px] max-md:px-5 max-md:max-w-full"
        role="region"
        aria-label="Địa chỉ nhận hàng"
      >
        <div
          class="flex gap-5 justify-between max-w-full font-bold text-amber-500 w-[303px]"
        >
          <div class="flex gap-3.5">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/d42d870bb6de23fb88dc42015313d0aa0a14b59dcffeb19faf92bfdd9471c991?placeholderIfAbsent=true&apiKey=f726cf0904414b2ca633a723012f6d3f"
              class="object-contain shrink-0 aspect-square w-[35px]"
              alt="Biểu tượng địa chỉ"
            />
            <div class="my-auto basis-auto">Địa chỉ nhận hàng</div>
          </div>
          <button
            class="focus:outline-none focus:ring-2 focus:ring-amber-500"
            aria-label="Chỉnh sửa địa chỉ"
          >
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/ca0ad662bf68c3f92ca9de00eaffb85eef02b322d6d5521d22c4bcd5d06a674a?placeholderIfAbsent=true&apiKey=f726cf0904414b2ca633a723012f6d3f"
              class="object-contain z-10 shrink-0 mr-0 aspect-square w-[35px]"
              alt=""
            />
          </button>
        </div>
        <div class="mt-8 text-3xl">
          <span class="font-bold">Bảo Trân</span>
          <span class="">|</span>
          <span class="font-medium">0949656822</span>
        </div>
        <div class="mt-8 max-md:max-w-full">
          KTX Khu B, Đường Mạc Đĩnh Chi , Phường Linh Xuân, TP. Thủ Đức, TP. Hồ
          Chí Minh
        </div>
      </div>

      <div
        class="flex relative flex-col mt-8 w-full border border-amber-500 border-solid max-w-[1230px] max-md:max-w-full"
        role="region"
        aria-label="Giỏ hàng"
      >
        <div
          *ngFor="let product of products"
          class="z-0 w-full max-md:max-w-full border-b border-amber-500"
        >
          <div class="flex gap-5 max-md:flex-col">
            <div class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
              <div
                class="flex grow justify-center items-center px-2.5 py-7 w-full bg-orange-50 min-h-[235px] max-md:-mr-1.5"
              >
                <img
                  loading="lazy"
                  [src]="product.image"
                  class="object-contain self-stretch my-auto aspect-square w-[180px]"
                  [alt]="product.name"
                />
              </div>
            </div>
            <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
              <div
                class="grow self-stretch px-2.5 py-8 w-full text-3xl font-medium text-center text-black bg-orange-50 min-h-[235px] max-md:-mr-1.5"
              >
                {{ product.name }}
              </div>
            </div>
            <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
              <div
                class="grow self-stretch px-2.5 py-8 w-full text-3xl font-medium text-center text-black bg-orange-50 min-h-[235px] max-md:-mr-1.5"
              >
                {{ product.price }}/ sp
              </div>
            </div>
            <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
              <div
                class="grow self-stretch px-2.5 py-8 w-full text-3xl font-medium text-center text-black bg-orange-50 min-h-[235px]"
              >
                x{{ product.quantity }} sản phẩm
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="flex overflow-hidden flex-col px-11 py-8 mt-8 w-full border border-amber-500 border-solid max-w-[1230px] max-md:px-5 max-md:max-w-full"
        role="region"
        aria-label="Phương thức vận chuyển"
      >
        <div
          class="py-0.5 pr-2 pl-11 max-w-full text-2xl font-bold text-amber-500 w-[264px] max-md:pl-5"
        >
          Giao hàng tiết kiệm
        </div>
        <div
          class="flex flex-wrap gap-5 justify-between py-1.5 mt-5 w-full font-medium max-md:max-w-full"
        >
          <div class="text-xl text-neutral-400">
            Nhận hàng vào 01/02/2025 - 02/02/2025
          </div>
          <div class="text-2xl text-right text-black">0 VNĐ</div>
        </div>
        <div
          class="mt-5 max-w-full border border-amber-500 border-solid min-h-[1px] w-[1101px]"
        ></div>
        <div
          class="flex flex-wrap gap-5 justify-between py-1.5 mt-5 w-full max-md:max-w-full"
        >
          <div class="my-auto text-2xl font-bold text-black">
            Tổng số tiền (10 sản phẩm):
          </div>
          <div class="text-4xl font-semibold text-right text-amber-500">
            250.000 VNĐ
          </div>
        </div>
      </div>

      <form
        class="flex flex-wrap items-center px-11 mt-8 w-full text-base border border-amber-500 border-solid max-w-[1230px] min-h-[86px] max-md:px-5 max-md:max-w-full"
        (ngSubmit)="onSubmitPromoCode()"
      >
        <div
          class="flex flex-wrap grow shrink gap-4 self-stretch pr-6 my-auto text-gray-400 min-w-[240px] w-[932px] max-md:max-w-full"
        >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/09c2d1651c2a4d812353616c068ce8193b1db07b2ed5f94b950d4525124aa045?placeholderIfAbsent=true&apiKey=f726cf0904414b2ca633a723012f6d3f"
            class="object-contain shrink-0 aspect-[0.87] w-[49px]"
            alt=""
          />
          <label for="promoCode" class="sr-only">Mã khuyến mãi</label>
          <input
            type="text"
            id="promoCode"
            class="grow px-12 py-4 bg-amber-100 rounded-lg w-fit max-md:px-5 max-md:max-w-full"
            placeholder="Nhập mã khuyến mãi của bạn"
            [(ngModel)]="promoCode"
            name="promoCode"
          />
        </div>
        <button
          type="submit"
          class="gap-2.5 self-stretch px-12 py-4 my-auto font-bold text-black bg-amber-100 rounded-[35px] max-md:px-5 focus:outline-none focus:ring-2 focus:ring-amber-500"
        >
          Nhập mã
        </button>
      </form>

      <div
        class="flex overflow-hidden flex-wrap gap-5 justify-between px-16 py-8 mt-8 max-w-full text-2xl font-bold text-amber-500 border border-amber-500 border-solid w-[1230px] max-md:px-5"
        role="region"
        aria-label="Phương thức thanh toán"
      >
        <div>Phương thức thanh toán</div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/455b076c625d0773a637eb988f1527ae7e8d5208b7abdc0048995a040752941d?placeholderIfAbsent=true&apiKey=f726cf0904414b2ca633a723012f6d3f"
          class="object-contain shrink-0 self-start aspect-[0.6] w-[15px]"
          alt=""
        />
      </div>

      <div
        class="flex overflow-hidden flex-col px-11 py-6 mt-8 w-full text-black border border-amber-500 border-solid max-w-[1230px] max-md:px-5 max-md:max-w-full"
        role="region"
        aria-label="Chi tiết thanh toán"
      >
        <div
          class="px-11 py-2 max-w-full text-2xl font-bold text-amber-500 w-[326px] max-md:px-5"
        >
          Chi tiết thanh toán
        </div>
        <div
          class="flex flex-wrap gap-5 justify-between py-2 mt-5 w-full max-md:max-w-full"
        >
          <div class="text-2xl font-medium">Tổng đơn hàng</div>
          <div class="my-auto text-2xl font-semibold text-right">
            250.000 VNĐ
          </div>
        </div>
        <div
          class="mt-5 w-full border border-amber-500 border-solid min-h-[1px]"
        ></div>
        <div
          class="flex flex-wrap gap-5 justify-between py-0.5 mt-5 w-full max-md:max-w-full"
        >
          <div class="text-2xl font-medium">Tổng tiền phí vận chuyển</div>
          <div class="my-auto text-2xl font-semibold text-right">0 VNĐ</div>
        </div>
        <div
          class="mt-5 w-full border border-amber-500 border-solid min-h-[1px]"
        ></div>
        <div
          class="flex flex-wrap gap-5 justify-between py-0.5 mt-5 w-full max-md:max-w-full"
        >
          <div class="text-2xl font-medium">Tổng giảm giá</div>
          <div class="my-auto text-2xl font-semibold text-right">
            - 20.000 VNĐ
          </div>
        </div>
        <div
          class="mt-5 w-full border border-amber-500 border-solid min-h-[1px]"
        ></div>
        <div
          class="flex flex-wrap gap-5 justify-between py-1.5 mt-5 w-full text-red-600"
        >
          <div class="text-3xl font-bold">Tổng thanh toán:</div>
          <div class="text-4xl font-semibold text-right">230.000 VNĐ</div>
        </div>
      </div>

      <div
        class="flex flex-col items-center px-16 mt-8 w-full text-2xl font-semibold text-center text-white max-w-[1230px] max-md:px-5 max-md:max-w-full"
      >
        <button
          (click)="onPlaceOrder()"
          class="gap-2.5 self-stretch py-3.5 max-w-full bg-amber-500 rounded-lg min-h-[60px] w-[200px] focus:outline-none focus:ring-2 focus:ring-amber-500"
        >
          ĐẶT HÀNG
        </button>
      </div>
    </div>

